*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: grey;
}
.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
#search {
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
    background: #ebfffc;
    border-color: transparent;
    border: 0;
    outline: 0;
    border-radius: 50% ;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.weather-icon {
    height: 200px;
    width: 200px;
    margin-top: 30px;
}
.weather h1 {
    font-size: 80px;
    font-weight: 500;
}
.weather h2 {
    font-size: 80px;
    font-weight: 400;
    margin-top: -10px;
}
.col img {
    height: 70px;
    width: 70px;
    padding: 10px;
    margin-right: 5px;
}
.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col {
    display: flex;
    align-items: center;
    text-align: left;
}
.humidity, .wind {
    font-size: 28px;
    margin-top: -6px;
}
.weather {
    display: none;
}
.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    align-items: center;
    display: none;
}
