*{
    margin: 0;
    padding: 0;
    font-family: 'Popins',sans-serif;
    box-sizing: border-box;
}
.todo-container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}
.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
} 
.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app img {
    height: 40px;
    width: 40px;
    margin-left: 10px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
#todo-list-container li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
#todo-list-container li::before {
    content: ' ';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url("Images/unchecked.png");
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
#todo-list-container li.checked {
    color: #555;
    text-decoration: line-through;
}
#todo-list-container li.checked::before {
    background-image: url("Images/checked.jpeg");
}
#todo-list-container li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
#todo-list-container li span:hover {
    background: #edeef0;
}
#todo-close {
    font-size: 24px;
    color: #333;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    transition: 0.3s;
}
#todo-close:hover {
    color: red;
    transform: scale(1.2);
}
.todo-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.95);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    z-index: 100;
}

.todo-container.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    pointer-events: auto;
}